*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
  height: auto;
  padding: 20px 0;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 711px;
  height: auto;
}

.content__list-container {
  height: 298px;
  margin-block-start: 26px;
  overflow-y: auto;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 711px;
  height: auto;
}

.result__video-container {
  width: 100%;
  height: 386px;
  margin-block-end: 16px;
  overflow: hidden;
  background-color: #000;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  border: none;
}

.search-form__submit-button {
  align-self: flex-end;
  margin-block-start: auto;
}
