/* Degugging outline */
/* * {
  outline: 1px solid red;
} */

/* Pixelperfect debugging container */
/* .pixel-perfect-image {
  position: fixed;
  inset: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  opacity: 0.5;
  pointer-events: none;
} */

/* Pixelperfect debugging image */
/* .pixel-perfect-image img {
  width: 1200px;
  height: 800px;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.title {
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
  transform: translateY(5px);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
  height: auto;
  padding: 20px 0;
}

.content__accent {
  color: #545050;
}

.content__details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 26px;
  max-width: 400px;
}

.content__list-container {
  position: relative;
  grid-column: 1;
  grid-row: 2;
  height: 298px;
  padding-right: 5px;
  overflow-y: auto;
}

.content__list {
  display: grid;
  grid-auto-rows: auto;
  gap: 30px;
}

.more-button {
  grid-row: -1;
  width: 100%;
  margin-top: 30px;
  padding: 6px 0;
  cursor: pointer;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 2px;
}

.content__card-link:active .content__video-card,
.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible .content__video-card {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
  padding: 1px 0 0 1px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  transform: translateX(-2px);
}

.content__video-card-title {
  max-width: 200px;
  margin-block-end: 6px;
  overflow: hidden;
  color: #fff;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 5px;
}

.content__video-card-description {
  display: -webkit-box;
  max-width: 200px;
  max-height: 32px;
  overflow: hidden;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 711px;
  height: auto;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  margin-block-end: 16px;
  overflow: hidden;
  background-color: #000;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #000;
}

.search-form {
  display: grid;
  grid-template-columns: minmax(225px, 1fr) auto 194px;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__checkbox-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-content: center;
  gap: 15px;
}

.search-form__checkbox-list .search-form__label {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
}

.search-form__label-text {
  white-space: nowrap;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:hover .search-form__pseudo-checkbox {
  border-color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield {
  width: 100%;
  min-width: 30px;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  padding: 2.5px 0;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  cursor: text;
  appearance: none;
}

.search-form__textfield:hover {
  border-color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:active {
  border-color: rgba(255, 255, 255, 0.9);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  position: absolute;
  inset: 1px;
  opacity: 0;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__checkbox:focus-visible + .search-form__pseudo-checkbox {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: flex-end;
  margin-block-start: auto;
}

.button {
  min-height: 34px;
  border: 1px solid #fff;
  padding: 3px 72px;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
